// stylelint-disable custom-property-pattern
$dark-border-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M3 1h2v1H3zM2 2h1v1H2zM5 2h1v1H5zM1 3h1v3H1zM6 3h1v3H6zM2 6h1v1H2zM5 6h1v1H5zM3 7h2v1H3z" fill="rgb(255,255,255)"/></svg>');
$dark-border-compact-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5"><path d="M2 1h1v1H2zM1 2h1v1H1zM3 2h1v1H3zM2 3h1v1H2z" fill="rgb(255,255,255)"/></svg>');
// stylelint-enable custom-property-pattern

@media (prefers-color-scheme: dark) {
  :root {
    --8bit-base-color: #fff;
    --8bit-bg-color: #212529;
    --8bit-container-bg: #212529;
    --8bit-balloon-bg: #212529;
    --8bit-input-bg: #2c3034;
    --8bit-progress-bg: #2c3034;

    --8bit-btn-default-bg: #343a40;
    --8bit-btn-default-hover: #495057;
    --8bit-btn-default-shadow: #6c757d;

    --8bit-btn-disabled-bg: #495057;
    --8bit-btn-disabled-shadow: #6c757d;

    --8bit-focus-ring: rgb(255 255 255 / 30%);

    // stylelint-disable custom-property-pattern
    --8bit-border-url: #{$dark-border-url};
    --8bit-border-compact-url: #{$dark-border-compact-url};
    // stylelint-enable custom-property-pattern
  }
}

// 手动切换 dark mode
[data-theme="dark"] {
  --8bit-base-color: #fff;
  --8bit-bg-color: #212529;
  --8bit-container-bg: #212529;
  --8bit-balloon-bg: #212529;
  --8bit-input-bg: #2c3034;
  --8bit-progress-bg: #2c3034;

  --8bit-btn-default-bg: #343a40;
  --8bit-btn-default-hover: #495057;
  --8bit-btn-default-shadow: #6c757d;

  --8bit-btn-disabled-bg: #495057;
  --8bit-btn-disabled-shadow: #6c757d;

  --8bit-focus-ring: rgb(255 255 255 / 30%);

  // stylelint-disable custom-property-pattern
  --8bit-border-url: #{$dark-border-url};
  --8bit-border-compact-url: #{$dark-border-compact-url};
  // stylelint-enable custom-property-pattern
}
