@use "../utilities/mixins" as mix;

.bit-balloon {
  @include mix.pixel-border;

  position: relative;
  display: inline-block;
  padding: 1rem;
  background-color: var(--8bit-balloon-bg);

  // Tail pointing down-left (default)
  &::before,
  &::after {
    position: absolute;
    bottom: -14px;
    left: 2rem;
    display: block;
    width: 4px;
    height: 4px;
    content: "";
    background-color: var(--8bit-base-color);
    box-shadow:
      0 4px 0 var(--8bit-base-color),
      4px 4px 0 var(--8bit-base-color),
      4px 8px 0 var(--8bit-base-color);
  }

  &::after {
    bottom: -18px;
    background-color: var(--8bit-balloon-bg);
    box-shadow:
      0 4px 0 var(--8bit-balloon-bg),
      4px 4px 0 var(--8bit-balloon-bg);
  }

  // Tail pointing down-right
  &.from-right {
    &::before,
    &::after {
      right: 2rem;
      left: auto;
      box-shadow:
        0 4px 0 var(--8bit-base-color),
        -4px 4px 0 var(--8bit-base-color),
        -4px 8px 0 var(--8bit-base-color);
    }

    &::after {
      box-shadow:
        0 4px 0 var(--8bit-balloon-bg),
        -4px 4px 0 var(--8bit-balloon-bg);
    }
  }
}
