@use "../utilities/mixins" as mix;

.bit-radio {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;

  input[type="radio"] {
    position: relative;
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;
    appearance: none;
    background-color: var(--8bit-input-bg);

    @include mix.pixel-border-compact;

    &::before {
      position: absolute;
      inset: 3px;
      display: none;
      content: "";
      background-color: var(--8bit-base-color);
    }

    &:checked::before {
      display: block;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 3px var(--8bit-focus-ring);
    }

    &[disabled] {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
